:root{
    --fuenteHeading: 'Pt Sans', sans-serif;
    --fuenteParrafos: 'Opens sans', sans-serif;

    --primario: #784d3c;
    --gris: #e1e1e1;
    --blanco: #ffffff;
    --negro: #000000;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: var(--fuenteParrafos);
    font-size: 1rem;
    line-height: 2;
}

/* globales */

.contenedor{
    width: min(90%, 75rem);
    margin: 0 auto;
}

a{
    text-decoration: none;
}

h1,h2,h3,h4{
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}

h1{
    font-size: 3rem;
}
h2{
    font-size: 2.5rem;
}
h3{
    font-size: 2rem;
}
h4{
    font-size: 1.75rem;
}
img{
    max-width: 100%;
}

/* utilidades */

.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
.centrar-texto {
    text-align: center;
}

/* header */
.webp .header{
    background-image: url(../img/banner.webp);
}
.no-webp .header{
    background-image: url(../img/banner.jpg);
}
.header{
    height: 37.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.header-texto{
    text-align: center;
    color: var(--blanco);
    margin-top: 3.125rem;
}
.barra{
    padding-top: 2.5rem;
}


.logo{
    color: var(--blanco);
}
.logo-nombre{
    font-weight: normal;
}
.logo-bold{
    font-weight: bold;
}

.navegacion-enlace{
    display: block;
    text-align: center;
    font-size: 1.125rem;
    color: var(--blanco);
}

.entrada{
    border-bottom: 1px solid var(--gris);
    margin-bottom: 1.25rem;
}
.entrada:last-of-type{
    border: none;
    margin-bottom: 0;
}
.boton{
    display: block;
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    padding: 0.6rem 1.9rem;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1.25rem;
    border: none;
}
.boton:hover{
    cursor: pointer;
}
.boton-primario{
    background-color: var(--negro);
}
.boton-secundario{
    background-color: var(--primario);
}
.cursos{
    list-style: none;
}
.widget-curso,
.curso{
    border-bottom: 1px solid var(--gris);
    margin-bottom: 1.25rem;
}
.widget-curso:last-of-type,
.curso:last-of-type{
    border: none;
    margin: 0;
}
.widget-curso-label,
.curso-label{
    font-family: var(--fuenteHeading);
    font-weight: bold;
}
.widget-curso-info,
.curso-info{
    font-weight: normal;
}
.widget-curso-info,
.widget-curso-label,
.curso-info,
.curso-label{
    font-size: 1.25rem;
}

.footer{
    background-color: var(--negro);
    padding-bottom: 1.9rem;
    margin-top: 2.5rem;
}


/* curso */
.curso{
    padding: 1.825rem 0;
    border-bottom: 1px solid var(--gris);
}
.curso:last-of-type{
    border: none;
}

/* contacto */
.contacto-bg{
    background-image: url(../img/contacto.jpg);
    height: 25rem;
    background-size: cover;
    background-repeat: no-repeat;
}

/* contacto */
.formulario{
    background-color: var(--blanco);
    margin: -3.5rem auto 0 auto;
    width: 95%;
    padding: 2rem 0;
}
.campo{
    display: flex;
    margin-bottom: 1.125rem;
    gap: 1.125rem;
}
.campo-label{
    flex: 0 0 5.625rem;
    text-align: right;
}
.campo-field{
    flex: 1;
    border: 1px solid var(--gris);
}
.campo-field-textarea{
    height: 12.5rem;
}




/* Media queries */
@media (min-width: 768px) {
    .header-texto{
        margin-top: 9rem;
    }
    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navegacion{
        display: flex;
        gap: 1.25rem;
    }
    .contenido-principal{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 2.5rem;
    }
    .boton{
        display: inline-block;
    }

    .sobre-nosotros{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.25rem;
    }

    .curso{
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 1.25rem;
    }
}